.container {
    position: relative;
    margin-top: 80px;
    .genre-list {
        width: 30%;
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        button {
            padding: 0;
            width: 100%;
            height: 100%;
            border: 0;
            outline: none;
        }
        .input {
            float: left;
            width: 90%;
            font-size: 1.2em;
            padding: 10px 5px;
            border: 0;
            outline: none;
            color: black;
        }
        .save-button,
        .cancel-button {
            cursor: pointer;
            width: 5%;
            padding-top: 10px;
            font-size: 1.5em;
        }
        .genre,
        .addGenre {
            width: 100% !important;
            background-color: #E50914;
            margin: 10px 0;
            padding: 10px;
            border: 0;
            border-radius: 5px;
            box-shadow: 1px 1px 1px 0 grey;
            width: 20%;
            text-align: center;
            font-size: 1.5em;
            .delete,
            .edit {
                cursor: pointer;
                float: right;
                font-size: 1em;
                margin-left: 5px;
            }
            .edit:hover {
                color: goldenrod;
            }
            .delete:hover {
                color: black;
            }
        }
        .addGenre {
            background-color: white;
            color: #E50914;
            padding: 5px !important;
        }
    }
}