  .reader {
      position: relative;
      width: 100%;
      background: rgba(0, 0, 0, .8);
      padding: 5% 20%;
      .close-icon {
          cursor: pointer;
          font-size: 2em;
          position: absolute;
          right: 0;
          float: right;
          font-size: 21px;
          font-weight: 700;
          line-height: 1;
          right: 10px;
          top: 10px;
          color: white;
      }
      .reader-container {
          position: relative;
          .img-full {
              width: 35%;
              display: inline-block;
          }
          .info {
              margin: 10px;
              display: inline-block;
              width: 60%;
              vertical-align: top;
              font-size: 1.2em;
              span.title {
                  padding-bottom: 10px;
                  font-size: 2em;
                  display: block;
                  text-decoration: underline;
              }
              .description {
                  padding-bottom: 10px;
                  display: block;
                  max-height: 300px;
              }
              .price {
                  padding-bottom: 10px;
                  display: block;
                  font-weight: bold;
                  font-style: italic;
                  text-align: right;
                  bottom: 0;
                  right: 0;
                  position: absolute;
              }
              .genre {
                  position: absolute;
                  font-size: 1.5em;
                  bottom: 0;
                  width: 90%;
              }
              .author {
                  padding-bottom: 10px;
                  font-style: italic;
                  font-weight: bold;
                  display: block;
              }
          }
      }
  }