        .container {
            display: inline-block;
            position: relative;
            width: 100%;
            height: 100%;
            .section {
                font-size: 2em;
                margin-left: 2%;
                text-decoration: underline;
            }
            .carousel {
                height: 100%;
                white-space: nowrap;
                overflow-x: auto;
                overflow-y: hidden;
                &::-webkit-scrollbar-track {
                    background-color: transparent;
                }
                &::-webkit-scrollbar {
                    height: 6px;
                    background-color: transparent;
                }
                &::-webkit-scrollbar-thumb {
                    border-radius: 20px;
                    background-color: #E50914;
                }
            }
            .filter-container {
                position: fixed;
                right: 10px;
                z-index: 999;
                .filter {
                    cursor: pointer;
                    font-size: 2em;
                }
                .filter-display {
                    position: absolute;
                    right: 0;
                    width: auto;
                    padding: 10px 5px;
                    background-color: #E50914;
                    box-shadow: 1px 1px 1px 0px grey;
                    span.genre {
                        cursor: pointer;
                        text-align: center;
                        margin-bottom: 3px;
                        font-size: 1.5em;
                        display: block;
                        transition: .3s all;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }