.form-container {
    position: relative;
    padding-top: 10%;
    .input-group {
        position: absolute !important;
        width: 60% !important;
        min-width: 500px;
        left: 50% !important;
        transform: translateX(-50%);
        text-align: center;
        .input {
            margin-bottom: 20px;
            width: 100%;
            border: 0;
            outline: none;
            display: block;
        }
        span.display-genre {
            margin-left: 10px;
        }
    }
    textarea {
        height: 150px !important;
    }
    button {
        margin-left: 10px;
    }
}