.navbar {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(0, 0, 0, 1)), color-stop(10%, rgba(0, 0, 0, 1)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, .7));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, .7));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, .7));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, .7));
    width: 100%;
    padding: .5em 1em;
    z-index: 999;
    position: fixed;
    .navbarContainer {
        width: 35%;
        position: absolute;
        text-align: right;
        display: inline-block;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        .divider {
            font-size: 1em;
            margin-left: 10px;
        }
    }
}