*,
 :before,
 :after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #141414;
    color: white;
}

.container {
    padding: 10px
}