    .book-item {
        white-space: initial;
        display: inline-block;
        position: relative;
        margin: 2%;
        width: 300px;
        height: 457px;
        font-size: 1.2em;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: .3s all;
        .task-menu {
            opacity: 0;
            transition: .3s all;
            position: absolute;
            color: white;
            padding: 3%;
            z-index: 99;
            top: 0;
            width: 100%;
            font-size: 1.2em;
            height: auto;
            a {
                color: white;
            }
            .edit,
            .delete,
            .fav,
            .view-more,
            {
                float: right;
                margin-left: 8px;
            }
            .edit:hover {
                color: cadetblue;
            }
            .delete:hover {
                color: firebrick;
            }
            .view-more:hover {
                color: blueviolet;
            }
            &.edit,
            .delete,
            .view-more,
            .fav,
             :hover {
                cursor: pointer;
            }
        }
        .info {
            opacity: 0;
            transition: .3s all;
            position: absolute;
            color: white;
            padding: 2%;
            z-index: 99;
            bottom: 0;
            height: auto;
            .title,
            .author,
            .price,
            .genre,
            .description {
                display: block;
                margin-bottom: 10px;
            }
            .title {
                font-size: 1em;
                text-decoration: underline;
                font-weight: bold;
            }
            .author,
            .price {
                font-size: 1em;
                font-weight: bold;
                font-style: italic;
            }
            .description {
                text-align: left;
                height: 160px;
                overflow: hidden;
            }
            .genre,
            .price {
                text-align: right;
            }
        }
        .overlay {
            opacity: 0;
            transition: .3s all;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .7);
            z-index: 8;
        }
    }
    
    .book-item:hover {
        transform: scale(1.2);
        .overlay,
        .task-menu,
        .info {
            opacity: 1;
        }
    }
    
    @media screen and (min-width: 1200px) and (max-width: 1600px) and (min-resolution: 192dpi) {
        .book-item {
            width: 250px;
            height: 380px;
            font-size: 1em;
            &:hover {
                transform: scale(1.1);
            }
        }
    }